@import "global.css";
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:ital,wght@0,100;0,700;0,900;1,400&display=swap");

body {
  font-family: "Bangers", cursive;
  color: rgb(55, 19, 71);
}
/* Menu */

.titulo-descripcion {
  text-align: center;
}

.titulo-descripcion h1 {
  font-size: 65px;
}

.titulo-descripcion p {
  background: #8c867b60;
  font-size: 25px;
}

.menu__container {
  display: flex;
  flex-direction: column;
  background: url("https://firebasestorage.googleapis.com/v0/b/tarot-c4969.appspot.com/o/extra%2Ffondotarot-min.jpg?alt=media&token=c6a3f992-c785-4f5e-9e4b-8c0e9f13752a");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  padding: 40px 0;
  align-items: center;
}

.juego {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.player {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.player h2 {
  font-size: min(40px);
}

.player input {
  border: none;
  background: #0000003b;
  width: 55vw;
  height: 5vh;
}

.player h2 {
  text-align: center;
}

.play {
  width: 100%;
  margin: 20px 0;
  padding: 1px;
  font-size: 40px;
  border: none;
}

.partidasGuardadas h4 {
  text-align: center;
}

.partida {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  padding: 10px 0;
}

.jugadores p {
  margin: 0;
}

/* CARGA */

.load {
  background: url("https://firebasestorage.googleapis.com/v0/b/tarot-c4969.appspot.com/o/extra%2Ffondotarot-min.jpg?alt=media&token=c6a3f992-c785-4f5e-9e4b-8c0e9f13752a");
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.load img {
  width: 100vw;
}

.load h4 {
  text-align: center;
  font-size: calc(1.275rem + 7vw);
  width: min(200px);
}

/* CARTAS */
.buttons-carousel {
  padding: 10px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
}

.carousel .slide {
  padding: 10px;
}

.carousel {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("https://firebasestorage.googleapis.com/v0/b/tarot-c4969.appspot.com/o/extra%2Ffondotarot-min.jpg?alt=media&token=c6a3f992-c785-4f5e-9e4b-8c0e9f13752a");
}

.carousel-caption {
  color: #dee2e6;
  background: #0000007a;
}

.carousel-indicators [data-bs-target] {
  background: rgb(55, 19, 71);
  border-top: none;
  border-bottom: none;
}

.carousel-item h4 {
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

/* CARTAS RESPUESTA */

.match_result {
  background: url("https://firebasestorage.googleapis.com/v0/b/tarot-c4969.appspot.com/o/extra%2Ffondotarot-min.jpg?alt=media&token=c6a3f992-c785-4f5e-9e4b-8c0e9f13752a");
  padding: 10px;
}

.resMatch {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 50px);
  justify-content: space-evenly;
}

.resMatch-img img {
  width: 100px;
}

/* */

.partidasGuardadas {
  outline: 1px solid;
}

.partidasGuardadas h4 {
  background: red;
  color: white;
}
